<section class="g-bg-size-cover g-bg-pos-center g-bg-cover g-py-50 g-mb-20" style="background-image: url(../assets/img/golf/pebble-beach.png);">
    <div class="container g-bg-cover__inner">
      <header class="g-mb-20">
        <!-- <h3 class="h5 g-font-weight-300 g-mb-5">Breadcrumbs</h3> -->
        <h2 class="h1 g-font-weight-300 text-uppercase g-color-white">Contact
        </h2>
      </header>
    </div>
  </section>

  <div class="image-container">
  <section class="g-bg-size-cover g-bg-pos-center g-bg-cover g-py-50 g-mb-20">

  <img src="../assets/img/golf/email.png">

</section>
</div>


