<!-- Footer -->
  <div class="g-mb-0 g-bg-gray-light-v4">
      <footer class="container g-pt-20 g-pb-0">
        <div class="row">

             <div class="col-sm-4 g-mb-30">
            <a class="d-inline-block mb-4" href="#">
              <img class="g-width-50 g-height-auto" src="../../assets/img/logo/logo-ball.png" alt="">
            </a>

            <p class="g-color-gray-dark-v4 g-font-size-13">2017 © All Rights Reserved.</p>
          </div>
          

          <div class="col-sm-4 g-mb-30">
              <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">Site Links</h3>
             <!-- Links -->
             <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13">
                <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" routerLink="/">Home</a></li>
                <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" routerLink="/standings">Standings</a></li>
                  <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" routerLink="/players">Players</a></li>
                    <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                      <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" routerLink="/events">Tournaments</a></li>
                      <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" routerLink="/history">History</a></li>
                     
              </ul>
              <!-- End Links -->
           
          </div>        

         
          <div class="col-sm-4 g-mb-30">
            <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">About</h3>

            <!-- Links -->
            <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13">
                <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" routerLink="/rules">Rules</a></li>
                  <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" routerLink="/contact">Contact</a></li>
                 
              <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" routerLink="/">Privacy Policy</a></li>
              <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" routerLink="/">Terms</a></li>
                
             
            </ul>
            <!-- End Links -->
          </div>

        
        </div>
      </footer>
      <!-- End Footer -->