<!-- Promo Block
      <section class="g-bg-cover g-bg-img-hero" style="background-image: url(../assets/img/golf/saint-andrews.jpg);">
        <div class="container g-pt-150 g-pb-70">
          <div class="text-center g-pos-rel g-z-index-1 g-mb-100">
            <span class="d-block g-color-white g-font-size-20 text-uppercase g-letter-spacing-5 mb-4"></span>
            <h1 class="g-color-white g-font-weight-700 g-font-size-20 g-font-size-50--md g-line-height-1_2 g-letter-spacing-10 mb-4">RULES</h1>
            <span class="d-block lead g-color-white g-letter-spacing-2"></span>
          </div>
        </div>        
      </section>
      End Promo Block -->

<!-- <div class="row align-items-stretch">
  <div class="col-lg-12 g-mb-30">
    
    <article class="text-center g-color-white g-overflow-hidden">
      <div class="g-min-height-200 g-flex-left g-bg-cover g-bg-size-cover" style="background-image: url('../assets/img/golf/saint-andrews.jpg');">
        <div class="g-flex-middle-item g-pos-rel g-z-index-1 g-py-50 g-px-20">
          <h3 class="text-uppercase">Rules</h3>          
          <a class="btn btn-md u-btn-outline-white g-font-weight-600 g-font-size-11 text-uppercase" href="#">Hire Unify</a>
        </div>
      </div>
    </article>
   
  </div>
   </div> -->


<section class="g-bg-size-cover g-bg-pos-center g-bg-cover g-py-50 g-mb-20" style="background-image: url(../assets/img/golf/rules.jpg);">
  <div class="container g-bg-cover__inner">
    <header class="g-mb-20">
      <!-- <h3 class="h5 g-font-weight-300 g-mb-5">Breadcrumbs</h3> -->
      <h2 class="h1 g-font-weight-300 text-uppercase g-color-white">Rules
      </h2>
    </header>
  </div>
</section>




<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <!-- Begin Content -->
    <div class="col-md-12">

      <h2>Player Selection</h2>

      <ul>

        <li>Select your team of 15 PGA Pros from the
          <a href="http://www.pgatour.com/stats/stat.109.2017.html">2017 money list</a>&nbsp;or any other players eligible
          to play on the PGA Tour in 2018. </li><br />
        <li>Limitations for picking your team are as follows:
          <ul>
            <li>Pick a maximum of 2 from the first 5 players on the money list.</li>
            <li>Pick a maximum of 2 from the first 5 players on the money list.</li>
            <li>Pick a maximum of 2 from players 6-10 on the money list.</li>
            <li>Pick a maximum of 2 from players 11-15 on the money list.</li>
            <li>Pick a maximum of 2 from players 16-20 on the money list.</li>
            <li>Pick your remaining pros from anywhere on the money list except the top 20.</li>
            <li>Pick a maximum of 2 from the first 5 players on the money list.</li>
            <li>The above restrictions are a limiting feature. You do not have to take any pros from the top 20, but in no case
              may you take more than 2 from any of the top groups.</li>
            <li>You can take any pro that will play on the PGA Tour even if he is not listed on the money list.</li>
          </ul>
          <br>
        </li>
        <li>The 15 players selected become your team and their combined earnings each week become your total. Only the earnings
          from the 40 tournaments listed count for the pool.</li>
        <br />
        <li>You may drop 1 player at the midway point of the season (after The PLAYERS CHAMPIONSHIP and before the next tournament)
          and replace him with any other player. You will count the new player’s earnings from Divisions 3 & 4 and the keep
          the dropped player's earnings from Divisions 1 & 2. This is the only replacement permitted during the year, no
          injury replacements are allowed.</li>
      </ul>


      <h2>Entry Fee</h2>
      <p>The entry fee is $100 and must be received no later than January 20th (strictly enforced this year; you will be dropped
        if it is not received in time) to be eligible to participate in the pool. Be aware that you will be dropped from
        the pool after that date if we have not received your money, you will not be called or reminded. </p>

      <h2>Payout Schedule</h2>
      <p>Payouts are awarded based on official PGA Tour earnings from the 40 tournaments. The season is divided into 4 Divisions.

      </p>

      <ul>
        <li>Division 1: 10 tournaments from January 4 to March 4</li>
        <li>Division 2: 11 tournaments from March 8 to May 13 </li>
        <li>Division 3: 11 tournaments from May 17 to July 22</li>
        <li>Division 4: 9 tournaments from July 26 to September 23</li>
      </ul>

      <p>Payouts are awarded at the end of each Division. Payouts are also awarded for the 4 Majors: The Masters, The US Open,
        The British Open, and the PGA Championship.

      </p>
      <p>Payouts for the Divisions and Majors are based on a percentage of the entry fees collected and are as follows: 5% for
        1st Place, 3% for 2nd Place, & 2% for 3rd Place.

      </p>
      <p>There are also payouts at the end of the year for the Season Total winners: 10% for 1st Place, 6% for 2nd Place, &
        4% for 3rd Place.
      </p>






    </div>

    <!-- Main End Wrapper -->
    <!--/container-->
    <!--=== End Content Part ===-->