.wrapper{
    display: grid;
    grid-template-areas:     
       "standings"    
  }
  
  @media only screen and (min-width: 900px)  {
      .wrapper {
         grid-template-columns: 1fr 3fr 1fr;
          grid-template-areas:
      ". standings ."
         
      }
      }
  
  
  .standings{
      grid-area: standings; 
  }
  
  
  .pooler{   
      display: grid;
       grid-template-columns: 1fr 5fr 3fr 1fr;
      /* grid-auto-rows: minxax(2px, auto);  */
      /* background-color:  #edede4; */   
  
  }
  