.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr) ) ;
  }
  
 
  
  
  .player{   
      display: grid;
       grid-template-columns: 12fr 6fr;
      /* grid-auto-rows: minxax(2px, auto);  */
      /* background-color:  #edede4; */   
  
  }