<div class="u-divider u-divider-solid u-divider-center g-brd-gray-light-v3 g-my-30">
  <i class="fa fa-circle u-divider__icon g-bg-white g-color-gray-light-v3"></i>
</div>

<div class="g-bg-cover g-bg-size-cover g-bg-pos-center g-bg-black-opacity-0_7--after" style="background-image: url(../../assets/img/golf/augusta.jpg);">
  <div class="container g-z-index-1 g-py-40">
    <!-- Testimonials -->
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="d-flex justify-content-between">
         <!-- <img class="align-self-center g-brd-around g-brd-4 g-brd-primary g-width-100 g-height-100 rounded-circle mr-5" src="../../assets/img-temp/125x125/img4.jpg" alt="Image Description"> -->
          <div class="align-self-center g-color-white text-sm-left">
            <blockquote class="media lead">{{quote.QuoteText}}</blockquote>
            <h4 class="h5 g-color-primary g-mb-0">{{quote.Author}}</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- End Testimonials -->
  </div>
</div>

<div class="u-divider u-divider-solid u-divider-center g-brd-gray-light-v3 g-my-20">
    <i class="fa fa-circle u-divider__icon g-bg-white g-color-gray-light-v3"></i>
  </div>