

/* a:link {
    color: darkgreen;
    font-weight: bold;
} */


a:visited {
    color: darkgreen;
}


a:hover {
    color: lightgreen;
}


a:active {
    color: blue;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
    padding-right: 8px;
}

.icon-opacity{
    opacity: 0.8;   
}

/* card header */
.header-height{
    height:35px;
}

