<section class="g-bg-size-cover g-bg-pos-center g-bg-cover g-py-50 g-mb-20" style="background-image: url(../assets/img/golf/carne-2.jpg);">
  <div class="container g-bg-cover__inner">
    <header class="g-mb-20">
      <!-- <h3 class="h5 g-font-weight-300 g-mb-5">Breadcrumbs</h3> -->
      <h2 class="h1 g-font-weight-300 text-uppercase g-color-white">History
      </h2>
    </header>
  </div>
</section>

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <!-- Begin Content -->
        <div class="col-md-12">
            <ul>
          <li><h5><a href="/assets/pdf/2009Standings.pdf">2009</a></h5></li>
          <li><h5><a href="/assets/pdf/2010Standings.pdf">2010</a></h5></li>
          <li><h5><a href="/assets/pdf/2011Standings.pdf">2011</a></h5></li>
          <li><h5><a href="/assets/pdf/2012Standings.pdf">2012</a></h5></li>
          <li><h5><a href="/assets/pdf/2013Standings.pdf">2013</a></h5></li>
          <li><h5><a href="/assets/pdf/2014Standings.pdf">2014</a></h5></li>
          <li><h5><a href="/assets/pdf/2015Standings.pdf">2015</a></h5></li>
          <li><h5><a href="/assets/pdf/2016Standings.pdf">2016</a></h5></li>
          <li><h5><a href="/assets/pdf/2017Standings.pdf">2017</a></h5></li>

            </ul>
          

</div>
</div>
</div>

<!-- Main End Wrapper -->
<!--/container-->
<!--=== End Content Part ===-->
